<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019701435873-aduphgfa6vigao6iv1b97odjvjpqm7dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019701435873-aduphgfa6vigao6iv1b97odjvjpqm7dv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019701435873-ovtsa93t3l95pvnblln2s3sen4rueck2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABycvZIrl2xp3haqQdqsrPi4Q1yiHUmgI</string>
	<key>GCM_SENDER_ID</key>
	<string>1019701435873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitloft.prayerApp</string>
	<key>PROJECT_ID</key>
	<string>prayer-app-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>prayer-app-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019701435873:ios:8ccf8e4c47c3cc50</string>
	<key>DATABASE_URL</key>
	<string>https://prayer-app-v2.firebaseio.com</string>
</dict>
</plist>